docs/examples/n8n/call-anomaly.json
{
  "name": "ManageCallAI — Call Anomaly Alert",
  "meta": {
    "templateId": "managecallai-call-anomaly",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "c3d4e5f6-0003-0003-0003-000000000002",
      "parameters": {
        "httpMethod": "POST",
        "path": "managecall-calls",
        "responseMode": "onReceived",
        "options": { "rawBody": true }
      },
      "notes": "Subscribe to: call.completed"
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nfunction verify(item, secret, tol = 300) {\n  const h = item.headers ?? {};\n  const ts = parseInt(h['x-managecall-timestamp'] ?? '0', 10);\n  if (Math.abs(Date.now() / 1000 - ts) > tol) throw new Error('timestamp_expired');\n  const body = typeof item.body === 'string' ? item.body : JSON.stringify(item.body ?? {});\n  const expected = 'sha256=' + crypto.createHmac('sha256', secret).update(`${ts}.${body}`).digest('hex');\n  if (!crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(h['x-managecall-signature-256'] ?? ''))) throw new Error('invalid_signature');\n}\nverify($input.first(), $env.MANAGECALL_WEBHOOK_SECRET);\nreturn $input.all();"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Classify Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? {};\nconst data = payload.data ?? {};\n\n// Anomaly: call completed in under 5 seconds with a hangup disposition.\n// Adjust thresholds to match operational norms.\nconst SHORT_CALL_THRESHOLD_SECONDS = parseInt($env.ANOMALY_SHORT_CALL_SECONDS ?? '5', 10);\nconst isShort = (data.duration_seconds ?? 999) < SHORT_CALL_THRESHOLD_SECONDS;\nconst isHangup = String(data.disposition ?? '').toLowerCase().includes('hangup');\nconst isAnomaly = isShort && isHangup;\n\nreturn [{\n  json: {\n    is_anomaly: isAnomaly,\n    call_id: data.call_id,\n    direction: data.direction,\n    from_number: data.from_number,\n    to_number: data.to_number,\n    duration_seconds: data.duration_seconds,\n    disposition: data.disposition,\n    tenant_id: payload.tenant_id,\n    occurred_at: payload.timestamp,\n  }\n}];"
      },
      "notes": "Set ANOMALY_SHORT_CALL_SECONDS in n8n environment to tune the threshold."
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Is Anomaly?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $json.is_anomaly }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "Call anomaly detected",
          "severity": "warning",
          "tenant_id": "={{ $json.tenant_id }}",
          "call_id": "={{ $json.call_id }}",
          "direction": "={{ $json.direction }}",
          "from": "={{ $json.from_number }}",
          "to": "={{ $json.to_number }}",
          "duration_seconds": "={{ $json.duration_seconds }}",
          "disposition": "={{ $json.disposition }}",
          "occurred_at": "={{ $json.occurred_at }}"
        },
        "options": {}
      },
      "notes": "Set ALERT_WEBHOOK_URL to your alerting endpoint (PagerDuty, Alertmanager, OpsGenie, etc.)."
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]]
    },
    "Verify Signature": {
      "main": [[{ "node": "Classify Call", "type": "main", "index": 0 }]]
    },
    "Classify Call": {
      "main": [[{ "node": "Is Anomaly?", "type": "main", "index": 0 }]]
    },
    "Is Anomaly?": {
      "main": [
        [{ "node": "Send Alert", "type": "main", "index": 0 }],
        [{ "node": "No Action", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
